@charset "euc-kr";
@import "/mpoc/inc/css/common.css";

*{-webkit-text-size-adjust:none}
html{height:100%}
body{background:#fff;font-size:14px;color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,button{margin:0;padding:0;font-family:'Malgun Gothic','맑은고딕',dotum,'돋움',sans-serif;font-weight:normal}
section,nav,article,aside,hgroup,header,footer,iframe{display:block}
form,fieldset,img{border:0 none}
table{border-spacing:0;border:0;border-collapse:collapse}
em{font-style:normal}
ul,ol,li{list-style:none outside}
/*input,select{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-webkit-border-radius:0;vertical-align:middle}*/
input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-webkit-border-radius:0;vertical-align:middle}
a{text-decoration:none;color:#333}
li,p,dt,dd,div,span,td,th{word-break:break-all;word-wrap:break-word}
legend, .hidden{overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:1px;line-height:0}
caption{overflow:hidden;margin-left:-9999px;width:1px;height:1px;font-size:1px;line-height:0}
.skip{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0}
input[type='text'], input[type='password'], input[type='tel'], 
input[type='number'], input[type='search'], input[type='email'], input[type='date']{-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
button, input[type='button'], input[type='submit'], input[type='reset']{cursor:pointer;border-radius:0-webkit-border-radius:0;-webkit-appearance:none;border:0;vertical-align:middle;background-color:none}
/*select{width:100%;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;-moz-appearance:none;height:35px;border:1px solid #ccc;padding:0 10px;background:url(/mpoc/img/common/bg_select.png) no-repeat;background-position:right 50%;background-size:26px 6px;outline:none}*/
textarea{width:100%;padding:10px;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}

#guideWrap{width:100%}
#guideWrap header{position:relative}
#guideWrap header img{width:15px;height:17px;vertical-align:top}
#guideWrap header strong{display:inline-block;margin:0;padding:5px 10px 5px 10px;font-size:14px;text-align:left}
#guideWrap header *{vertical-align:middle}
/*.interface{overflow:hidden;padding:0 0 10px 33px}
.interface li{float:left;padding:3px 0 0 18px}
.interface li:first-child{padding-left:0}
.interface li a{display:block;width:14px;height:10px;background:url("/mpoc/guide/img/txt_menu.png") no-repeat;background-position:0 0;-webkit-background-size:78px 20px;-moz-background-size:78px 20px;-o-background-size:78px 20px;background-size:78px 20px}
.interface li a:hover, .interface li.this a{background-position:0 -10px}
.interface li+li a{width:39px;background-position:-39px 0}
.interface li+li a:hover, .interface li+li.this a{background-position:-39px -10px}*/
.guide_gnb{overflow:hidden;display:table;width:100%;padding:0 10px;background:#222325;-webkit-box-sizing:border-box;box-sizing:border-box}
.guide_gnb a{display:table-cell;width:33.3%;padding:10px 0;font-size:12px;color:#fff;text-align:center;letter-spacing:-1px;vertical-align:middle;-webkit-box-sizing:border-box;box-sizing:border-box}
.guide_gnb a:last-child{width:33.4%}
.guide_gnb a span{width:100%;margin:0 8px}
.guide_gnb a.on span{display:inline;padding:5px;-webkit-border-radius:10px;border-radius:10px;background:#fff;color:#444;vertical-align:middle}
#guideContent{clear:both;min-height:500px;/*overflow:hidden;*/margin-bottom:20px}
.guide_lnb{overflow:hidden;border-top:1px solid #fff}
.guide_lnb strong{display:none}
.guide_lnb li a{position:relative;float:left;/*width:33.3%;*/width:25%;font-size:12px;font-weight:bold;color:#777;text-align:center}
.guide_lnb li a:before{content:'';position:absolute;top:0;right:0;width:1px;height:100%;background:#f2f2f2}
/*.guide_lnb li a:nth-child(3n){width:33.4%}
.guide_lnb li a:nth-child(3):before,
.guide_lnb li a:nth-child(6):before{display:none}*/
.guide_lnb li a:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#f2f2f2}
.guide_lnb li a.on{background:#222325;color:#fff}
.guide_lnb li a span{display:block;line-height:38px;letter-spacing:-1px}
.guideBox{overflow:hidden;width:100%;padding:25px 10px !important;-webkit-box-sizing:border-box;box-sizing:border-box;border:0 none !important}
.guideTit1{display:block;padding:0 0 9px;border-bottom:1px solid #333;font-size:18px;color:#444}
.guideTit2{display:block;padding:20px 0 10px;font-size:16px;font-weight:bold;color:#444}
.guideBox .guideTit2:first-child{padding-top:0}
.guideTit3{display:block;padding:30px 0 15px;font-size:14px;font-weight:bold;color:#444}
.guideTit4{display:block;padding:15px 0 10px;font-size:13px;line-height:18px;font-weight:bold;color:#444}
.guideTit4+dd{font-size:12px}
.guideTit2+.guideTit3, .guideCode+.guideTit2, .guideCode+.guideTit3{padding-top:0}
.guideTit3+.guideCode{margin:0}
.guideInfo{padding:20px 0;font-size:11px}
.guideTxt{padding:0 0 10px;font-size:11px}
.guide li{margin-left:12px;padding:0 0 10px;font-size:11px;text-indent:-10px}
.guide li ul{margin-top:10px}
.guide li:before{content:"- "}
.guide li ul li:before {content:"＊"}

.pt30{padding-top:30px !important}
.mt0{margin-top:0 !important}
.red{color:red}
.blue{color:#1f3ccd}
.guideLink{text-decoration:underline;}

.progress{padding:15px;border-bottom:1px solid #f0f0f0;font-size:12px;text-align:right}
.pro{display:inline-block;margin:0 5px;font-weight:normal}
.pro:before{content:'';display:inline-block;width:10px;height:10px;margin-right:5px;border-radius:100%;background:#000;vertical-align:middle}
.revise:before{background:#fff724}
.complete:before{background:#3c97fe}
.listCon{border-bottom:1px solid #ddd}
.listCon li strong{cursor:pointer}
.listCon li strong,
.listCon li a{display:block;position:relative;padding:12px 10px;border-top:1px solid #ddd;background:#fff;font-size:16px;font-weight:bold;color:#000}
.listCon li > strong:after,
.listCon li > a:after{content:'';display:block;position:absolute;top:50%;right:10px;width:16px;height:16px;margin:-8px 0 0 -8px;background:url(../img/common/bg_figure.png)no-repeat;background-position:0 -24px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.listCon li.on > strong:after,
.listCon li.on > a:after{background-position:-16px -24px}
.listCon > li:first-child strong:after, 
.listCon > li:first-child a:after{display:none}
.listCon li.on strong,
.listCon li.on a{background:#ed1d25;color:#fff}
.listCon li.nodeth a:after{display:none}
.listCon li .sub li strong,
.listCon li .sub li a{display:block;position:relative;padding:10px 10px 10px 20px;border-top:1px solid #e0e0e0;background:#f0f0f0;font-size:14px;font-style:normal;font-weight:normal;color:#000}
.listCon li .sub li.on > strong,
.listCon li .sub li.on > a{background:#000;color:#fff}
.listCon li .sub li .sub li strong,
.listCon li .sub li .sub li a{padding-left:25px;font-size:12px}
.listCon li .sub li .sub li strong:before,
.listCon li .sub li .sub li a:before{content:'-';display:inline-block;padding-right:2px}
.listCon li .sub li .sub li.on > strong:before,
.listCon li .sub li .sub li.on > a:before{color:#fff}
.listCon li .sub li .sub li ul li strong,
.listCon li .sub li .sub li ul li a{padding-left:30px;font-size:11px}
.listCon li .sub li .sub li ul li strong:after,
.listCon li .sub li .sub li ul li a:after{display:none}

.topSort {position:fixed;width:100%;top:130px;}

.fileInfo{padding:10px 20px 20px 0;background:#fff;text-align:right}
.fileInfo>ul>li:before{content:'*';}
.guideSort{text-align:right;padding:16px 20px 0;background:#fff}
.guideSort li{display:inline-block;*display:inline;zoom:1;padding:0 0 0 10px}
.guideSort a{color:#333;text-decoration:none}
.guideSort a:hover{text-decoration:underline}
.guideSort a.selected{background:#000;color:#fff}

.guideTbl{margin-top:82px;width:100%;border-top:1px solid #bcbcbc;border-right:1px solid #bcbcbc}
.guideTbl.mtType2{margin-top:50px;}
.guideTbl th, .guideTbl td{padding:4px 3px;border-bottom:1px solid #bcbcbc;border-left:1px solid #d3d3d3;font-size:13px;letter-spacing:-1px}
.guideTbl th{text-align:center;background:#efeff5}
.guideTbl tr:hover, .guideTbl tr.add:hover td{background:#efeff5}
.guideTbl tr td+td+td+td+td+td+td+td+td+td+td{text-align:center}
.guideTbl tr td+td+td+td+td+td+td+td+td+td+td+td+td+td{text-align:left}
.guideTbl tr.add td{background:#fcfad9}
.guideTbl tr td a{color:#504a45}
.guideTbl tr td a:visited{color:violet}
.guideTbl td.end{color:red}
.guideCode{-webkit-user-select:text;-webkit-touch-callout:text;-moz-user-select:text;-ms-user-select:text;margin:15px 0 30px;padding:9px;border:1px dashed #323040;background:#f5f5f5;font-size:12px;line-height:15px}
.guideCode.guideTxt{margin-top:0}
.guideCode.guideTxt .tit{display:inline-block;padding-bottom:10px}
.guideCode.guideTxt li{line-height:18px}
.guideCode.guideTxt ul li{margin-left:12px;padding:0 0 10px;text-indent:-12px}
.guideCode.guideTxt ul li:before{content:"- "}
.guideCode.guideTxt ul li ol{margin-top:5px}
.guideCode.guideTxt ul li ol li{padding-bottom:5px}
.guideCode.guideTxt ul li ol li:before{content:". "}
.guideCode.guideTxt table{width:100%;text-align:center}
.guideCode.guideTxt table th{background:#eee;font-weight:bold}
.guideCode.guideTxt table th,.guideCode.guideTxt table td{margin:0;padding:10px;border:1px solid #ddd;text-indent:0}
.guideCode.guideTxt table td.left{text-align:left !important}
.guideCode.guideTxt a{text-decoration:underline}

.guideTip{margin:10px 0 0}
.guideTip .guideCode{margin-bottom:40px}
.guideEx{padding:9px;background:#000;font-size:12px;color:#fff;line-height:15px}
.guideEx_sub:before{content:'-'}
.guideEx_sub{padding:5px 0 10px;font-size:12px;color:#ff0000}
.guideEx_sub a{text-decoration:underline;color:#000}

/*@media all and (min-width:400px){
.interface{display:inline-block;padding:13px 0 10px 10px}
}*/

@media all and (min-width:768px){
#guideWrap header{position:fixed;top:0;left:0;z-index:999;width:100%;height:130px;margin-right:20px;background:#fff}
#guideWrap header img{width:30px;height:34px;vertical-align:-6px}
#guideWrap header strong{margin:0;padding:20px;font-size:20px;font-weight:bold;text-align:left;line-height:40px}
.interface{display:inline-block;position:absolute;top:30px;right:65px;padding:0 0 0 20px}
.interface li{float:left;padding:6px 0 0 25px}
.interface li a{display:block;width:28px;height:20px;background:url("/mpoc/guide/img/txt_menu.png") no-repeat;background-position:0 0}
.interface li a:hover, .interface li.this a{background-position:0 -20px}
.interface li+li a{width:77px;background-position:-78px 0}
.interface li+li a:hover, .interface li+li.this a{background-position:-78px -20px}
.interface li+li a{width:28px;background-position:0 0}
.interface li+li a:hover,interface li+li.this a{background-position:0 -20px}
.interface li+li+li a{width:77px;background-position:-78px 0}
.interface li+li+li a:hover,.interface li+li+li.this a{background-position:-78px -20px}
.interface li.t-guide a {position:relative; width:auto; font-size:18px; color:#111; background:none; top:-4px;}

.guide_gnb{display:block;padding:0 20px !important;margin:0;background:#222325}
.guide_gnb a{display:inline-block;float:none;width:auto;padding:14px 15px 9px 15px;font-size:16px;font-weight:bold;color:#fff;letter-spacing:0}
.guide_gnb a:last-child{width:auto}
.gnb a:link, .gnb a:active, .gnb a:visited{color:#fff}
.guide_gnb a span{width:auto;margin:0}
.guide_gnb a.on{margin-top:5px;padding:11px 15px 8px 15px;border-top-left-radius:10px;border-top-right-radius:10px;border:1px solid #444;border-bottom:none;background:#fff;color:#444}
.guide_gnb a.on span{display:block;width:auto;margin:0;padding:0;-webkit-border-radius:0;border-radius:0}
#guideContent{width:1220px;padding:150px 20px 0}
.guide_lnb{position:fixed;top:147px;left:20px;width:220px;padding:29px 0 0}
.guide_lnb strong{display:block;padding:0 0 8px;border-bottom:2px solid #333;font-size:26px}
.guide_lnb li a{display:block;position:static;float:none;width:220px;height:40px;padding:0 0 0 30px;line-height:39px;border-bottom:1px solid #ddd;font-size:14px;color:#515151;text-align:left}
.guide_lnb li a:before{display:none}
.guide_lnb li a:after{display:none}
.guide_lnb li a.on{background:#575757;color:#fff}
.guide_lnb li a span{letter-spacing:0}
.guideBox{width:980px;margin-left:220px;padding:25px 0 0 58px}
.guideTit1{border-bottom:2px solid #333;font-size:26px}
.guideTit2{padding:30px 0 15px;font-size:20px}
.guideTit3{font-size:15px}
.guideTxt{font-size:12px}
.guide li{padding:0 0 10px;font-size:13px}

}

tr.depth{background:#eee}

.graphInfo em{color:#333}

/* 드롭다운메뉴 (고객센터 > 지점 및 AS센터) - 171221 추가s */
.down_menu{position:relative;margin-top:20px}
.down_menu.line{border-bottom:1px solid #e4e4e4;padding-bottom:20px}
.down_menu .tl{position:relative}
.down_menu .tl>a{display:block;width:100%;padding:6px 50px 9px;font-size:14px;color:#fff;background:#434159;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.down_menu .tl>a:before{content:'';display:block;position:absolute;top:0;right:0;width:35px;min-height:35px;background:#323040}
.down_menu .tl>a:after{content:'';display:block;position:absolute;top:50%;right:10px;width:12px;height:7px;margin-top:-5px;background:url(/mpoc/img/myt/0_bg_icon.png) no-repeat;-webkit-background-size:12px 17px;-moz-background-size:12px 17px;-o-background-size:12px 17px;background-size:12px 17px}
.down_menu .menu_list{display:none;position:absolute;top:35px;left:0;width:100%;z-index:10}
.down_menu .tl>a.on, .down_menu.on .tl>a{display:none}
.down_menu.on .tl>a.on{display:block}
.down_menu.on .tl>a:after{background-position:0 -10px}
.down_menu.on .menu_list{display:block}
.down_menu.on .menu_list ul{margin:0;border:2px solid #434159;border-top:0 none}
.down_menu.on .menu_list li a{display:block;width:100%;padding:6px 15px 9px 15px;font-size:14px;color:#666;background:#f8f8f8;border-bottom:1px solid #efefef;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.down_menu.on .menu_list li a.on{color:#434159;background:#fff;font-weight:bold}
.down_menu.on .menu_list li:last-child a, .down_menu .menu_list li:last-child a.on{border-bottom:0 none}
/* 드롭다운메뉴 (고객센터 > 지점 및 AS센터) - 171221 추가e */
